
/*common style*/
*{margin:0;padding:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ol,ul{list-style:none}
:focus{outline:0}
a{text-decoration:none;}
a,img{border:0;}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0}
.hide{display:none;}
.show{display:block;}
.fl{float:left;}
.fr{float:right;}
.clearfix{*zoom:1}
.clearfix:after{content:"";display:block;visibility:hidden;width:0;height:0;clear:both;font-size:0;line-height:0;overflow:hidden}
em,i{font-style: normal;font-weight:normal;}

body{background: #f8f8f8;font-family: microsoft yahei,"微软雅黑",Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%}
/*常用模板*/
.aside{font-size: 14px;border-left:1px solid #e7e7e7;position: absolute;left:0;top:0;min-height: 100%;overflow: auto}
.aside .title,.asideNav a{color: #000;display: block;background:#f8f8f8 ;border-bottom: 1px solid #e7e7e7;padding: 10px 15px;line-height: 1.4;}
.asideNav a{color: #337ab7}
.aside .title{font-size: 14px;background: #dedbdb;}
.asideNav a{color: #337ab7}
.asideNav a:hover{background: #eee;}
.addTips{color: #777;font-size: 18px;line-height: 28px;text-align: center;padding: 50px 0;display: none}
/*upperStyle*/
.upperStyle{width:auto;font-size: 14px;line-height: 1.43;border:1px solid #f7f7f7;background: #fff;padding: 20px 20px 0px 20px;}
.upperStyle .label,.containerMask .label{float:left;line-height: 34px;}
.upperStyle .shareLabel{line-height: 1.2}
.upperStyle .item,.containerMask .item{margin-bottom:15px;}
.upperStyle .platform{margin-left: 10px;d}
.upperStyle .itemContent,.containerMask .itemContent{float:left;margin-left: 10px;}
.upperStyle .noHeightLabel,.containerMask .noHeightLabel {line-height: 1.2;}
.upperStyle label{margin-right: 15px;}
.upperStyle .form_control.inputText,.containerMask .form_control.inputText{width:310px;}
.saleVideoEditorMask .form_control.inputText{width:500px;}
.pageBg{margin:15px 0 0px 0px;}
.pageBg .form_control{width:80px;font-size: 14px;height:28px;margin-left:5px;}
.pageGap{margin-top: 15px;}
.pageBg  .pageBgImg,.pageBg .uploadImg{display: inline-block;}
.pageBg .uploadImg{width:80px;height: 50px;vertical-align: middle;}
.pageBg .uploadImg img{width:30px;margin-top: 9px;}
.pageGap .form_control{margin-left: 10px;}
.form_control{height: 34px;padding: 6px 12px;font-size: 12px;line-height: 1.42;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.form_control.select_control{background: #eee;}
.upperStyle .form_control.inputText{width:310px;}
.upperStyle textarea.form_control{height: auto;overflow: auto}
.uploadImg{width:120px;height:80px; border:1px dashed #ccc;text-align: center;position: relative;}
.uploadImg img{margin-top: 19px;width:auto;}
.uploadImgBtn{width:100%;height:100%;position: absolute;top:0;left:0; opacity: 0;-ms-filter: 'alpha(opacity=0)';cursor: pointer;}
.uploadImg form{width:100%;height: 100%}
.floorGap input.gapInput{margin-right: 5px;}
/*模板开始*/
.wrapper{max-width: 750px;background: #fff;position: relative;margin:0 0 0 480px;}
.head{position: fixed;top:0;background: #fff;width: 100%;max-width:750px;left: 0;line-height: 88px;line-height: 88px;text-align: center;overflow: hidden;z-index: 3;margin: auto;}
.fixed-top{left:480px;width: 750px;right: auto}
.saleTitle{font-size: 34px;line-height: 88px;text-align: center;position: relative;z-index: 2;}
.container{width:100%;position: relative;}
.floor{width:100%;position: relative;}
/*遮罩*/
.floorMask{background: rgba(0,0,0,0.2);color: #fff;font-size: 14px;position: absolute;top:0;left:0;z-index: 3}
.floorMask a{display: block;float: left;color: #fff;}
.floorMask a.editorBtn,.floorMask a.removeBtn,.floorMask a.shortBtn,.floorMask a.longBtn{text-align: center;background: #000;margin:6px 10px;vertical-align: middle;padding: 5px 10px;border-radius:3px;}
.floorMask  .handle_icon{display: inline-block;}
.floorMask a.editorBtn .handle_icon{background-position: -99px -31px;width:21px;height: 21px;margin-right: 5px;opacity: 0.8}
.floorMask a.removeBtn .handle_icon{background-position: -73px -32px;width:21px;height: 21px;margin-right: 5px;opacity: 0.8}
.floorMask a.upBtn ,.floorMask a.downBtn{padding: 10px;}
.floorMask a.upBtn .handle_icon,.floorMask a.downBtn .handle_icon{opacity: 1;}
.floorMask a.upBtn.noUp .handle_icon,.floorMask a.downBtn.noDown .handle_icon{opacity: 0.2;}
.floorMask a.upBtn .handle_icon{background-position: -48px -28px;width:18px;height: 26px;}
.floorMask a.downBtn .handle_icon{background-position: -24px -29px;width:18px;height: 26px;}
.containerMask{background:rgba(0,0,0,0.7);font-size: 14px;position: fixed;left:0;top:0;width:100%;height:100%;z-index: 10;}
.maskContent{position: absolute;top:50px;left:50%;background: #fff;width:auto;max-width: 90%;transform:translate(-50%,0);-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0)}
.maskInner{padding: 30px; }
.maskTitle{background-color: #2D2D2D;color: #fff;font-size: 12px;height: 28px;line-height: 28px;padding-left: 12px;}
.bottomBtn{margin-top:20px;}
.bottomBtn a,.addIdsBtn{border-radius: 5px;padding: 5px 15px;color: #000;font-size: 14px;display: inline-block;}
.bottomBtn a.ok_btn,.addIdsBtn{background: #e67e22;color: #fff;}
.editorMask .previewImg{max-height: 200px;overflow: auto;margin-top: 10px;max-width: 715px;}
.saleMobileNavEditorMask .previewImg{max-width:710px;}
.saleMobileNavEditorMask .navMorePic .previewImg{max-width: 673px;}
.bannerList li{display: table-cell;vertical-align: top;width: 100%;}
/*一栏图片*/
.associationTypes label{margin-right: 10px;}
/*一栏图片包含轮播*/
.saleSlideBanners .controlBtn {position: absolute;left: 10px;bottom: 10px;z-index: 1;width:100%;text-align: center;}
.saleSlideBanners .controlBtn ul{display: inline-block;text-align: center;}
.saleSlideBanners .controlBtn li {float: left;width: 14px;height:14px;font-size: 0;margin-right: 5px;overflow: hidden;cursor: pointer;background-color: #fff;border-radius: 50%;opacity: 0.2;}
.saleSlideBanners .controlBtn li.on{opacity: 1}
.saleSlideBanners .controlBtn li:last-child{margin-right: 0}
a.pic,a.pic img{display: block;}
/*编辑弹出框*/
.editorMask{display: none}
.editorMask .maskContent {width:880px;max-height: 90%;overflow: auto}
.editorMask .floor_item{position: relative;border:1px solid #ccc;padding: 10px}
.saleBigProImgEditorMask .floor_item,.saleVideoEditorMask .floor_item,.saleProListEditorMask .floor_item{border:none;padding: 0;}
.editorMask .handleBtnInfloor{position: absolute;top:10px;right:10px;}

/*两栏图片*/
.saleTwoColumns{padding: 30px;}
.twoColumns_item{margin-bottom: 10px;}
.saleTwoColumns .twoColumns_item:last-of-type{margin-bottom: 0;}
.saleTwoColumns .twoColumns_item a{display: block;width:340px;float: left;margin-right: 10px;}
.saleTwoColumns .twoColumns_item a:last-child{margin-right: 0;}
.saleTwoColumns .twoColumns_item img{display: block;width:100%;}
.saleTwoColumnsEditorMask .leftPart{border-bottom: 1px dashed #ccc;margin-bottom: 28px;}
/*大图商品*/
.saleBigProImg_item{display: block;width:690px;margin:0 auto;border-bottom: 1px solid #e2dede;margin-top: 50px}
.saleBigProImg a.saleBigProImg_item:last-of-type{border-bottom: none;}
.saleBigProImg a.saleBigProImg_item:first-of-type{margin-top: 0;}
.saleBigProImg_item img{display: block;width:100%;}
.saleBigProMsg{background: #fff;padding: 28px 20px 40px 20px;position: relative;}
.saleBigProImg_item .proAcTit{color:#000;font-size: 30px;max-width: 525px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.saleBigProImg_item .proTit{color: #919192;font-size:22px;max-width: 450px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin-top: 5px;}
.saleBigProImg_item .proAcPrice em{color: #e7459b;font-size: 36px;font-weight: bold;font-family: arial;font-style:italic;margin-left: -5px;}
.saleBigProImg_item .proAcPrice span{color: #919192;font-size: 22px;text-decoration: line-through;font-family: arial;font-style:italic;margin-left: 10px;}
.saleBigProImg_item .proAcPrice i{font-family: "微软雅黑";font-style:italic;}
.saleBigProImg_item .buyNowBtn{display: block;position: absolute;right:20px;bottom: 50px;color: #000;font-size: 24px;border:2px solid #000;padding: 12px 25px;}
.addProIds{border: 1px solid #e67e22;background: #e67e22;color: #fff; -webkit-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;font-size: 20px;border-radius: 5px;padding: 5px 20px;}
.form_control.proListInput{width: 550px;height: auto;}
.addIdsBtn{margin-left: 10px;float: right;}
/*产品table*/
.proListsTable{border:1px solid #ddd;border-spacing:0;border-collapse:collapse;width:100%;max-width:100%;}  
.proListsTable td,.proListsTable th{    border: 1px solid #ddd;padding: 8px;vertical-align: top;}
.proListsTable th{border-bottom: 2px solid #ddd;vertical-align: bottom;}
.proListsTable tr:nth-child(even){background: #f9f9f9;vertical-align: top}
.saleBigProImgEditorMask .proListsTable .proName,.addBigImgItem .proListsTable .proName{max-width: 138px;}
.proListsTable thead tr{background: #e7e7e7;}
.proListsTable td{position: relative;}
.proListsTable td a{display: block;float: left;padding: 10px 8px;}
.proListsTable th:first-child,.proListsTable th:nth-child(2){min-width: 75px;}
.saleBigProImgEditorMask .proListsTable th:nth-last-child(2),.addBigImgItem .proListsTable th:nth-last-child(2){min-width: 75px;}
.saleBigProImgEditorMask .proListsTable th:nth-child(5),.addBigImgItem .proListsTable th:nth-child(5){min-width: 60px;}
.saleBigProImgEditorMask .proListsTable tr td:nth-last-child(2),.addBigImgItem .proListsTable tr td:nth-last-child(2){vertical-align: middle;text-align: center;max-width: 174px;}
.saleBigProImgEditorMask .proListsTable tr td:nth-last-child(2) img,.addBigImgItem .proListsTable tr td:nth-last-child(2) img{width:auto;}
.proListsTable tr td:last-child{width:112px;padding: 0px;vertical-align: middle;text-align: center;}
.proListsTable th:nth-child(3),.proListsTable th:nth-child(4){min-width: 60px;}
.proListsTable .saleAcDes{line-height: 1.4;font-size: 12px;width:100%;}
/*视频播放器*/
.saleVideoContent{width: 690px;margin:0 auto;}
.mySaleVideo{width:100%;height:;}
/*标签栏*/
.fixNav{background: #fff;color: #000;font-size: 24px;position:relative;}
.fixNav .nav_top{white-space: nowrap;-webkit-transform: translateZ(0);transform: translateZ(0);border-bottom: 1px solid #e2dede;}

/*.fixNav .nav_top .nav_top_list{width:676px;overflow:hidden;}*/
.fixNav .nav_top .nav_top_list{width:100%;overflow:auto;}
.fixNav .nav_top .nav_top_list ul{transition-duration: 600ms; transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transform: translate(0px, 0px) translateZ(0px);}
.fixNav .nav_top a{color: #000;padding: 26px 40px;display: block;}
.fixNav .nav_top a.currentNav{border-bottom: 4px solid #000;padding: 24px 40px;}
.fixNav  .navDropBtn{position: absolute;width: 74px;height:90px;text-align: center;vertical-align: middle;right: 0;top:0;}
.fixNav .navDropContent {display: none}
.fixNav .navDropContent a{color: #919192;padding: 16px 0 16px 16px;display: block;}
.fixNav .navDropContent a.currentNav{color:#000;border-bottom:4px solid #000; }
.fixNav .navDropContent li{width:25%;}
.fixNav .navDropContent{padding: 30px;width:100%;background:#faf6f6;}
.fixNav li{float: left;}
.fixedNav{position: fixed;top:40px;left:480px;width:750px;z-index: 2;}
.saleMobileNavContent_item{width:100%}
.saleMobileNav .saleMobileNavContent_item{padding: 25px 30px 15px 30px;border-bottom: 1px solid #e2dede;}
.saleMobileNavContent_item .saleBigProImg_item{margin-top: 30px;}
.saleMobileNav .saleMobileNavContent_item:last-of-type{border-bottom: none;}
.saleMobileNavContent_item .proList{margin-top: 20px;}
/*.saleMobileNavContent_item .saleBigProImg_item:last-of-type{border-bottom: none;}*/
.navTitleImg,.navTitleImg img,.navMoreImg,.navMoreImg img{display: block;width:100%;}
.saleMobileNavEditorMask .navName span.grey{font-size: 12px;color: #999;padding-left: 10px;}
.addBigImgItem span.red{color: #e7459b;padding:0 3px;}
/*商品列表*/
.saleProList {padding:0 30px;}
.proList li{float: left;margin-right: 10px;margin-bottom:8px;}
.proList li:nth-child(even){margin-right: 0;}
.proList li a{display: block;width:100%;background: #fff;width:340px;padding: 10px;}
.proList img.proImg{display: block;width:100%;}
.proList .pro_top{background: #f4f4f4;padding-bottom: 34px;text-align: center;}
.proList .pro_tit{font-size: 22px;color: #000;height:62px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;padding: 0 10px;}
.proList .pro_price{font-size: 24px;color: #e7459b;font-weight: bold;font-style: italic;margin-top: 10px;}
.proList .pro_from{padding-top:10px;color: #919192;font-size: 20px; }
.proList .pro_nation{float: left;}
.proList .pro_website{float: right}
.proList .nationLogo{width:28px;height: 28px;border-radius: 50%;margin-right: 8px;vertical-align: middle;}
.proList .pro_website{width:172px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.deleteTable{display: inline-block;padding: 5px 15px;border-radius: 5px;border:1px solid #777;margin-top: 10px;float: right;color: #777;margin-bottom: 20px;}
.deleteTable:hover{color: #000;border-color:#000;}

/*图片热区*/
.saleMapArea{}
/**********************图标******************************/
a.closeBtn{cursor: pointer;overflow: hidden;position: absolute;right: 20px;padding: 10px;}
a.closeBtn .handle_icon{background-position:-74px 0;width: 14px;height: 14px;display: block;}
.editorMask .handleBtnInfloor{position: absolute;right:20px;top:10px;}
.handle_icon{display: block;background: url(../images/icon.png);opacity: 0.5}
.upBtn .handle_icon{background-position: -22px 0;width:21px;height:24px;}
.downBtn .handle_icon{background-position: -46px 0;width:21px;height:24px;}
.removeBtn .handle_icon{background-position: 0 0;width:19px;height:21px;}
.editorMask .handleBtnInfloor a{float: left;display: block;padding:10px;}
.editorMask .handleBtnInfloor a:hover .handle_icon{opacity: 1}
.upBtn.noUp,.downBtn.noDown,.noRemove.removeBtn{cursor: default}
.upBtn.noUp .handle_icon,.downBtn.noDown .handle_icon,.editorMask .handleBtnInfloor .upBtn.noUp:hover .handle_icon,.editorMask .handleBtnInfloor .downBtn.noDown:hover .handle_icon,.noRemove.removeBtn .handle_icon,.editorMask .handleBtnInfloor .noRemove.removeBtn:hover .handle_icon{opacity: 0.3;}
.proListsTable td a:hover .handle_icon{opacity: 1}
.proListsTable td a.upBtn.noUp:hover .handle_icon,.proListsTable td a.downBtn.noDown:hover .handle_icon{opacity: 0.3}

.saleIcon{background-image: url(http://sale.baobeigezi.com/template/h5/images/ac_icon.png) ;background-repeat:no-repeat;display: inline-block;background-size: 100px;}
.navDropBtn .saleIcon{width:14px;height:10px;background-position: -78px 0;}
.on_top{background-position: 0 0 ;width:72px;height: 72px;position: fixed;z-index:2;left: 1120px;bottom: 30px;}
.addBtnInFloor{color: #000;font-size: 14px;}
.addBtnInFloor span.handle_icon{width:28px;height: 28px;display: inline-block;margin-right: 6px;background-position: -110px 0;vertical-align: middle;opacity: 1}
/*发布活动失败*/
.aside_btn{text-align: center;margin-top: 15px;}
.aside_btn a{border-radius: 5px;padding: 5px 45px;background: #e67e22;color: #fff;font-size: 24px;display: inline-block;cursor: pointer}
.aside_btn a.previewBtn{margin-right: 10px;background:#99cc33;}
/*弹窗提示*/
.shadeBox{position: fixed;width:750px;height: 100%;z-index: 9999;left:480px;right: 0;top:0;bottom: 0;display: none}
.shadeBox .shade{position: absolute;width:100%;height: 100%;background:rgba(0,0,0,0.8);left: 0;top: 0;right: 0;bottom: 0;}
.shadeBox .shadeContent{position: absolute;width: 528px;height: 312px;left: 50%;top: 50%;margin-left: -264px;margin-top: -156px;background: #fff;display: table;}
.shadeBox .closeBtn {display: block;position: absolute;right:20px;top: 20px;z-index: 5;cursor: pointer;background-size:100px;background-position:  -78px -31px;width: 15px;height: 15px;}
#tipsShadeBox .tipsText{font-size: 30px;color: #000;text-align: center;display: table-cell;vertical-align: middle;padding: 0 50px;max-width: 428px;word-wrap:break-word;}


.navTitPic,.navMorePic{border-top:1px dashed #cecece;padding-top:15px;border-bottom:1px dashed #cecece; }
.navMorePic{border-bottom: none;margin-bottom: 0;}
.navTitPic .item:last-child,.navMorePic .item:last-child{margin-bottom:6px;}
